<!doctype html>
<html>
    <head>
        <title>Simple Calculator</title>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="app/simple_calc.js"></script>
        <script src="app/calc_controller.js"></script>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <style>
            body {
                padding: 0px;
            }
            h3.header {
                margin-top: 0px;
                padding: 20px;
                background-color: #5882FA;
                color: #fff;
            }
            select.form-control {
                background-color: #FFBF00;
                font-size: 1.5em;
            }
            div.content {
                padding: 20px;
            }
            .form-control {
                margin: 5px;
            }
        </style>
    </head>
    <body ng-app="simpleCalc">
        <h3 class="header">Simple Calculator</h3>
        <div class="content" ng-controller="CalcController as calc">
            <form class="form-inline">
                <input ng-model="firstNumber" class="form-control" size="5" type="number" autofocus required/>
                <select ng-model="operand" ng-options="operand.symbol for operand in operands"i class="form-control"</select>
                <input ng-model="secondNumber" class="form-control" size="5" type="number" required/>
                <button ng-click="calc.calculate()" class="btn btn-success">=</button>
                <span class="form-control">{{ result }}</span>
            </form>
        </div>
    </body>
</html>
